@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
:root {
  --transition-delay: 0.4s;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}
html,
body,
#root {
  height: 100%;
}
h2 {
  margin-left: 10vw;
}
.dashboard {
  min-height: 100vh;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20vh;
}
header:nth-child(1) {
  padding-left: 10vw;
}

header div {
  padding-right: calc(10vw + 15px);
}

.switch {
  background-image: linear-gradient(90deg, #378fe6, #3eda82);
  display: flex;
  align-items: center;
  height: 30px;
  padding: 2.5px;
  transition: 0.4s;
  transition: var(--transition-delay);
  width: 60px;
  border-radius: 25px;
}
.theme-input {
  display: none;
}
.slider {
  --slider-diameter: 25px;
  background-color: #1f212e;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: var(--slider-diameter);
  left: calc(100% - var(--slider-diameter));
  position: relative;
  transition: 0.4s;
  transition: var(--transition-delay);
  width: var(--slider-diameter) !important;
}
.light .slider {
  background-color: #fff;
}
.light .switch {
  background-color: #198ff5;
  background-image: none;
}
.theme-input:not(:checked) + .slider {
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
}
.card-header {
  height: 5px;
  width: 100%;
}
.facebook-header {
  background-color: #198ff5;
}
.twitter-header {
  background-color: #1ca0f2;
}
.instagram-header {
  background-image: linear-gradient(90deg, #fdc468, #df4996);
}
.youtube-header {
  background-color: #c4032a;
}
.change-neg {
  color: #dc414c;
}
.change-pos {
  color: #1db489;
}
.dashboard {
  background-color: #fff;
}
.dark {
  background-color: #1e202a;
  color: #fff;
}
.dark header {
  background-color: #1f212e;
}
.dark #totalflwrs_id {
  color: #8b97c6;
}
.dark .card {
  background-color: #252a41;
  color: #8b97c6;
}
.dark .card:hover {
  background-color: #333a56;
}
.light {
  background-color: #fff;
}
.light header {
  background-color: #f5f7ff;
}
.light .card {
  background-color: #f0f2fa;
  color: #63687e;
  color: #1e202a;
}
.light .card:hover {
  background-color: #e1e3f0;
}
a{
  color:#198ff5;
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10vw;
}
.main-section {
  position: relative;
  top: -15vh;
}

.card {
  min-width: 230px;
  max-width: 25%;
  margin: 15px 1px;
  border-radius: 5px;
}

.card-header {
  border-radius: 5px 5px 0 0;
}
.card-profile {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.card-profile > * {
  margin: 5px;
}
.flwrs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark .flwrs-section h3 {
  color: white;
  font-size: 3rem;
}
.light .flwrs-section h3 {
  color: black;
  font-size: 3rem;
}
p[class*="change"] {
  margin: 20px;
  display: flex;
  align-items: center;
}
.arrow-span {
  display: flex;
}

.today-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 15px;
}
.today-card section {
  display: flex;
  justify-content: space-between;
}
.today-number {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}
.dark .today-number {
  color: white;
}
@media screen and (max-width: 560px) {
  .content-section {
    justify-content: center;
  }
}
